In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
driver=webdriver.Chrome(r'C:\Users\shaik\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url='https://www.naukri.com/'
driver.get(url)

In [9]:
driver.find_element_by_class_name('suggestor-input').send_keys('Data Analyst')
driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input').send_keys('Bangalore')
driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]').click()

In [12]:
title=[]
loc=[]
company=[]
exp=[]
index=[]
for i in range(0,10,1):
    title.append(driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[i].text)
    company.append(driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')[i].text)
    exp.append(driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')[i].text)
    loc.append(driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')[i].text)
    index.append(i+1)
pd.DataFrame({'Job Title':title,'Company Name':company,'Experience':exp,'Location':loc,'S.No':index}).set_index('S.No')

,Job Title,Company Name,Experience,Location
S.No,,,,
1,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst (Digital Services Analytics),Dell,1-6 Yrs,Bangalore/Bengaluru
3,Data Analyst For Text / Sentiment Analysis,FUTURLYTIC PRIVATE LIMITED,0-1 Yrs,Bangalore/Bengaluru(Hebbal Kempapura)\n(WFH du...
4,Data Analyst / BI Analytics Consultant - Night...,Oracle,2-7 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
5,"Lead - Data Analyst / Scientist ( R, Qlik, Pow...",Axim Technologies,12-15 Yrs,Bangalore/Bengaluru
6,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
7,Senior Data Analyst III,Flipkart,2-4 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
9,Data Analyst (Digital Services Analytics),Dell,4-9 Yrs,Bangalore/Bengaluru
10,Data Analyst,Schneider Electric,8-10 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [92]:
driver=webdriver.Chrome(r'C:\Users\shaik\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)
driver.find_element_by_class_name('suggestor-input').send_keys('Data Scientist')
driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input').send_keys('Bangalore')
driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]').click()

In [93]:
title=[]
loc=[]
company=[]
exp=[]
index=[]
for i in range(0,10,1):
    title.append(driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[i].text)
    company.append(driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')[i].text)
    exp.append(driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')[i].text)
    loc.append(driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')[i].text)
    index.append(i+1)
pd.DataFrame({'Job Title':title,'Company Name':company,'Experience':exp,'Location':loc,'S.No':index}).set_index('S.No')

,Job Title,Company Name,Experience,Location
S.No,,,,
1,Sr Data Scientist,Uber,6-12 Yrs,Bangalore/Bengaluru
2,HCL Tech Opening - Lead Data Scientist,HCL,10-20 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
3,Senior Data Scientist Payments,AirSeva,5-10 Yrs,Bangalore/Bengaluru
4,Senior Data Scientist (R Programming),Ignitho,4-9 Yrs,Remote
5,Data Scientist/Senior Data Scientist - Python,ApicalGo Consultancy,3-8 Yrs,Bangalore/Bengaluru
6,Senior Data Scientist - Python/Machine Learnin...,Altimax Business Solutions,4-9 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor..."
7,Sr . Data Scientist,Visa,6-8 Yrs,Bangalore/Bengaluru
8,Need Data scientists and data engineers - WFH-...,Covalense Technologies Private Limited,8-13 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
9,Data Scientist,AirSeva,6-11 Yrs,Bangalore/Bengaluru
10,Data Scientist,Korea Trade Center,3-4 Yrs,"New Delhi, Gurgaon/Gurugram, Bangalore/Bengalu..."

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [96]:
driver=webdriver.Chrome(r'C:\Users\shaik\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)
driver.find_element_by_class_name('suggestor-input').send_keys('Data Scientist')
driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]').click()

In [97]:
driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i').click()

In [98]:
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i').click()

In [99]:
title=[]
loc=[]
company=[]
exp=[]
index=[]
for i in range(0,10,1):
    title.append(driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[i].text)
    company.append(driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')[i].text)
    exp.append(driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')[i].text)
    loc.append(driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')[i].text)
    index.append(i+1)
pd.DataFrame({'Job Title':title,'Company Name':company,'Experience':exp,'Location':loc,'S.No':index}).set_index('S.No')

,Job Title,Company Name,Experience,Location
S.No,,,,
1,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
2,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
3,Hiring For Senior Data Scientist-Noida,Lumiq.ai,2-6 Yrs,"Noida, New Delhi, Greater Noida"
4,Data Scientist,Mount Talent Consulting Private Limited,1-4 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
5,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
6,Data Scientist _NLP,EXL,3-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ..."
7,Data Scientist (freelance),2Coms,2-7 Yrs,"New Delhi, Delhi"
8,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
9,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
10,Lead Data Scientist,Indihire HR Consultants Private Limited,2-4 Yrs,Delhi / NCR\n(WFH during Covid)

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand

2. Product Description

3. Price

In [72]:
driver=webdriver.Chrome(r'C:\Users\shaik\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.flipkart.com/'
driver.get(url)
driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()
driver.find_element_by_class_name('_3704LK').send_keys('sunglasses')
driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [74]:
brand=[]
price=[]
discount=[]
product=[]
index=[]
count=1
while (count<=120):
    j=1
    for i in range(0,40,1):
        brand.append(driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[i].text)
        product.append(driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[i].text)
        price.append(driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[i].text)
        index.append(count)
        count+=1
        j+=1
    if((count-1)/40==1):
        driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]').click()
    if((count-1)/40==2):
        driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]').click()

df=pd.DataFrame({'Brand':brand,'Product Description':product,'Price':price,'S.No':index}).set_index('S.No')

In [76]:
df.head(100)

               Brand                                Product Description Price
S.No
1               SRPM             UV Protection Wayfarer Sunglasses (50)  ₹148
2             PIRASO              UV Protection Aviator Sunglasses (54)  ₹179
3            DEIXELS  UV Protection Aviator, Wayfarer Sunglasses (Fr...  ₹152
4          New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹182
5           Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹629
...              ...                                                ...   ...
96     VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹749
97    ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...  ₹292
98              hipe       UV Protection Aviator Sunglasses (Free Size)  ₹129
99              IDEE   Gradient, UV Protection Wayfarer Sunglasses (50)  ₹799
100    VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...  ₹949

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [2]:
driver=webdriver.Chrome(r'C:\Users\shaik\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div').click()

In [6]:
rating=[]
review=[]
summary=[]
index=[]
count=0
j=1

for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]'):
    rating.append(driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')[count].text)
    summary.append(driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')[count].text)
    review.append(driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')[count].text)
    count+=1
    index.append(count)
df=pd.DataFrame({'Rating':rating,'Review Summary':summary,'Review':review,'S.No':index}).set_index('S.No')
df

,Rating,Review Summary,Review
S.No,,,
1,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Perfect product!,Amazing phone with great cameras and better ba...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
6,5,Worth every penny,Previously I was using one plus 3t it was a gr...
7,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
8,4,Good choice,So far it’s been an AMAZING experience coming ...
9,5,Highly recommended,What a camera .....just awesome ..you can feel...
10,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

In [5]:
rating=[]
review=[]
summary=[]
index=[]
count=0
j=1
while count<100:
    k=0
    for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]'):
        #rating.append(driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')[k].text)
        rating.append(i.text.split()[0])
        summary.append(driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')[k].text)
        review.append(driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')[k].text)
        k+=1
        count+=1
        index.append(count)
    if j==1:
        driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]').click()
    elif j>1:
        driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]').click()
    j+=1
df=pd.DataFrame({'Rating':rating,'Review Summary':summary,'Review':review,'S.No':index}).set_index('S.No')
df

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]"}
  (Session info: chrome=99.0.4844.74)
Stacktrace:
Backtrace:
	Ordinal0 [0x01079943+2595139]
	Ordinal0 [0x0100C9F1+2148849]
	Ordinal0 [0x00F04528+1066280]
	Ordinal0 [0x00F30FD4+1249236]
	Ordinal0 [0x00F311CB+1249739]
	Ordinal0 [0x00F5D812+1431570]
	Ordinal0 [0x00F4BA34+1358388]
	Ordinal0 [0x00F5BAF2+1424114]
	Ordinal0 [0x00F4B806+1357830]
	Ordinal0 [0x00F26086+1204358]
	Ordinal0 [0x00F26F96+1208214]
	GetHandleVerifier [0x0121B232+1658114]
	GetHandleVerifier [0x012D312C+2411516]
	GetHandleVerifier [0x0110F261+560433]
	GetHandleVerifier [0x0110E366+556598]
	Ordinal0 [0x0101286B+2173035]
	Ordinal0 [0x010175F8+2192888]
	Ordinal0 [0x010176E5+2193125]
	Ordinal0 [0x010211FC+2232828]
	BaseThreadInitThunk [0x75C46739+25]
	RtlGetFullPathName_UEx [0x77538E7F+1215]
	RtlGetFullPathName_UEx [0x77538E4D+1165]

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [19]:
driver=webdriver.Chrome(r'C:\Users\shaik\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.flipkart.com/'
driver.get(url)
driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()
driver.find_element_by_class_name('_3704LK').send_keys('sneakers')
driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [20]:
data=[]
count=1
while (count<=120):
    j=0
    for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]'):
        brand=i.text.split('\n')[0]
        desc=i.text.split('\n')[1]
        data.append([count,brand,desc,driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[j].text,driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[j].text])
        j+=1
        count+=1
    if((count-1)/40==1):
        driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]').click()
    if((count-1)/40==2):
        driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]').click()
columns= ['S.No','Brand','Product Description','Price','Discount']
df=pd.DataFrame(data,columns=columns).set_index('S.No')
df

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=99.0.4844.74)
Stacktrace:
Backtrace:
	Ordinal0 [0x01079943+2595139]
	Ordinal0 [0x0100C9F1+2148849]
	Ordinal0 [0x00F04528+1066280]
	Ordinal0 [0x00F06E04+1076740]
	Ordinal0 [0x00F06CBE+1076414]
	Ordinal0 [0x00F06F50+1077072]
	Ordinal0 [0x00F2C920+1231136]
	Ordinal0 [0x00F4B9EC+1358316]
	Ordinal0 [0x00F27474+1209460]
	Ordinal0 [0x00F4BC04+1358852]
	Ordinal0 [0x00F5BAF2+1424114]
	Ordinal0 [0x00F4B806+1357830]
	Ordinal0 [0x00F26086+1204358]
	Ordinal0 [0x00F26F96+1208214]
	GetHandleVerifier [0x0121B232+1658114]
	GetHandleVerifier [0x012D312C+2411516]
	GetHandleVerifier [0x0110F261+560433]
	GetHandleVerifier [0x0110E366+556598]
	Ordinal0 [0x0101286B+2173035]
	Ordinal0 [0x010175F8+2192888]
	Ordinal0 [0x010176E5+2193125]
	Ordinal0 [0x010211FC+2232828]
	BaseThreadInitThunk [0x75C46739+25]
	RtlGetFullPathName_UEx [0x77538E7F+1215]
	RtlGetFullPathName_UEx [0x77538E4D+1165]

# Q7: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black"

In [45]:
driver=webdriver.Chrome(r'C:\Users\shaik\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.myntra.com/shoes'
driver.get(url)

In [46]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()

In [47]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()

In [49]:
brand=[]
des=[]
price=[]
count=0
while count<100:
    for i in driver.find_elements_by_xpath('//li[@class="product-base"]'):
        temp=i.text.replace('Only Few Left!','').replace('NEW SEASON','').split('\n')
        while("" in temp) :
            temp.remove("")
        brand.append(temp[-3])
        des.append(temp[-2])
        price.append(temp[-1].split('Rs.')[1])
        count+=1
    driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]').click()
    
df=pd.DataFrame({'Brand':brand,'Description':des,'Price':price})
df

      Brand                              Description   Price
0      ALDO                     Men Printed Sneakers    9099
1      Nike               Men Winflo 7 Running Shoes    7995
2      ALDO                Men Leather Driving Shoes   12999
3      Puma            Electrify Nitro Running Shoes    9999
4      ALDO                Men Woven Design Sneakers   13999
..      ...                                      ...     ...
95  Saint G              High-Top Block Heeled Boots   10625
96  Saint G   Embellished Leather Block Heeled Boots    7869
97  Saint G              Women High-Top Heeled Boots   12093
98  Saint G  Leather Block Heeled Boots with Buckles    9810
99  Saint G               Embellished Flatform Boots    8925

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [82]:
driver=webdriver.Chrome(r'C:\Users\shaik\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.amazon.in/'
driver.get(url)
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input').send_keys('Laptop')
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/div/label/i').click()

In [84]:
price=[]
rating=[]
title=[]
for i in range(0,10,1):
    title.append(driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')[i].text)
    price.append(driver.find_elements_by_xpath('//span[@class="a-price-whole"]')[i].text)

df=pd.DataFrame({'Title':title,'Price':price})

driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[1]/span/a').click()
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[11]/span/a/div/label/i').click()
df

                                               Title   Price
0  Lenovo IdeaPad Slim 3 11th Gen Intel Core i5 1...  54,990
1  Lenovo IdeaPad Slim 5 11th Gen Intel Core i5 1...  62,490
2  HP 15s 11th Gen Intel Core i5 15.6 inches FHD ...  53,990
3  Lenovo IdeaPad Slim 3 11th Gen Intel Core i5 1...  54,990
4  Lenovo IdeaPad 3 10th Gen Intel Core i5 15.6 F...  49,990
5  (Renewed) Lenovo ThinkPad 13 Ultrabook intel C...  29,999
6  MSI Modern 14, Intel i5-10210U, 14" FHD IPS-Le...  47,990
7  (Renewed) Dell Latitude Intel 2nd Gen Core i5 ...  19,386
8  Redmi Book Pro Intel Core i5 11th Gen 15.6-inc...  47,990
9  Lenovo IdeaPad Slim 5 11th Gen Intel Core i5 1...  62,490

In [85]:
price=[]
title=[]
for i in range(0,10,1):
    title.append(driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')[i].text)
    price.append(driver.find_elements_by_xpath('//span[@class="a-price-whole"]')[i].text)

pd.DataFrame({'Title':title,'Price':price})

                                               Title   Price
0  Acer Extensa 15 Thin & Light Intel Processor P...  29,740
1  Dell Inspiron 3501 15.6 inches FHD Display Lap...  58,980
2  Acer Extensa 15 Thin & Light Intel Processor P...  29,740
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...  31,490
4  ASUS Laptop E410KA-EK101WS PQC-N6000//8G/256 P...  32,590
5  Dell New 15 PQC-N5030 Intel Inspiron 3510 15.6...  35,490
6  ASUS Intel Pentium Quad Core 15.6 inches Busin...  28,990
7  Microsoft Surface GO 2 STQ-00013 10.1" (26.54 ...  28,990
8  Dell Inspiron 3502 15.6 inches HD Display Lapt...  50,490
9  ASUS Pentium Quad Core - (4 GB/1 TB HDD/Window...  29,200

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image

In [10]:
driver=webdriver.Chrome(r'C:\Users\shaik\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.ambitionbox.com/'
driver.get(url)
driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]').click()
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input').send_keys('Data Scientist')
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button').click()

In [11]:
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]').click()
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input').send_keys('Noida')

In [12]:
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [37]:
title=[]
company=[]
salary=[]
loc=[]
skills=[]
exp=[]
for i in range(0,10,1):
    title.append(driver.find_elements_by_xpath('//a[@class="title noclick"]')[i].text)
    company.append(driver.find_elements_by_xpath('//p[@class="company body-medium"]')[i].text)
    temp=driver.find_elements_by_xpath('//div[@class="other-info"]')[i].text.split('\n')
    skills.append(temp[-2])
    loc.append(temp[-3])
    salary.append(temp[-4])
    if len(temp)==5:
        exp.append(temp[-5])
    else:
        exp.append('NA')
pd.DataFrame({'Job Title':title,'Company':company,'Experience':exp,'Salary':salary,'Lcation':loc,'Skills':skills})

,Job Title,Company,Experience,Salary,Lcation,Skills
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED,NA,₹ 3.5-5 LPA,"Chennai, Pune, Delhi NCR +5 more","Data Science, Power Bi, RDBMS +6 more"
1,HCL Hiring Data Scientist (Loc: Noida / Chenna...,HCL Technologies Limited,1-5 Yrs,Not Disclosed,"Chennai, Bengaluru/Bangalore, Noida","C++, Database Management System, Artificial In..."
2,Data Scientist,WSP CONSULTANTS INDIA PRIVATE LIMITED,3-8 Yrs,Not Disclosed,"Bengaluru/Bangalore, Noida","deep learning, python, tensorflow +7 more"
3,Data Scientist-II,Microsoft India (R and D) Pvt Ltd,4-7 Yrs,Not Disclosed,Noida,"System design, Intellectual property, Product ..."
4,HCL Tech Opening - Senior Data Scientist,HCL Technologies Ltd,6-11 Yrs,Not Disclosed,"Chennai, Pune, Bengaluru/Bangalore +3 more","N-Grams, data science, POS tagging +3 more"
5,Data Scientist,Jubilant Foodworks Limited,3-6 Yrs,₹ 30-45 LPA,Noida,"Data Science, Deep Learning"
6,Urgent Requirement || Data Scientist || Noida,HCL Technologies,3-8 Yrs,Not Disclosed,"Delhi NCR, Noida","Machine Learning, Deep Learning, Python +1 more"
7,Data Scientist with NLP & Python,RATEGAIN TRAVEL TECHNOLOGIES LIMITED,2-5 Yrs,Not Disclosed,Noida,"deep learning, algorithms, python +5 more"
8,Data Scientist,Hanu Software Solutions Pvt Ltd,8-12 Yrs,Not Disclosed,"Greater Noida, Noida","C++, SQL, Python +7 more"
9,Opportunity | Tavant India,Tavant Technologies India Pvt. Ltd.,4-9 Yrs,Not Disclosed,"Bengaluru/Bangalore, Hyderabad/Secunderabad, N...","data scientist, Machine Learning, Python"

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [78]:
driver=webdriver.Chrome(r'C:\Users\shaik\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.ambitionbox.com/'
driver.get(url)
driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]').click()
driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input').send_keys('Data Scientist')

In [79]:
driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input').click()
driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]').click()

In [80]:
exp=[]
company=[]
totals=[]
avgs=[]
mins=[]
maxs=[]
for i in range(0,10,1):
    temp=driver.find_elements_by_xpath('//div[@class="name"]')[i].text.split('\n')
    company.append(temp[0])
    totals.append(temp[1].replace('based on ','').replace(' salaries',''))
    exp.append(driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')[i].text.split('\n')[2].replace(' exp',''))
    avgs.append(driver.find_elements_by_xpath('//p[@class="averageCtc"]')[i].text)
    temp=driver.find_elements_by_xpath('//div[@class="salary-values"]')[i].text.split('\n')
    mins.append(temp[0])
    maxs.append(temp[1])
    
pd.DataFrame({'Company':company,'Total Salary Records':totals,'Experience':exp,'Average Salary':avgs,'Min Salary':mins,'Max Salary':maxs})

,Company,Total Salary Records,Experience,Average Salary,Min Salary,Max Salary
0,Ab Inbev,28,3-4 yrs,₹ 20.3L,₹ 15.0L,₹ 25.5L
1,ZS,15,2 yrs,₹ 15.3L,₹ 9.5L,₹ 20.0L
2,Optum,25,3-4 yrs,₹ 15.1L,₹ 11.0L,₹ 21.3L
3,Fractal Analytics,77,2-4 yrs,₹ 15.1L,₹ 9.5L,₹ 22.0L
4,Tiger Analytics,33,3-4 yrs,₹ 14.4L,₹ 8.3L,₹ 20.0L
5,UnitedHealth,52,2-4 yrs,₹ 13.9L,₹ 8.3L,₹ 20.5L
6,Verizon,14,4 yrs,₹ 12.7L,₹ 10.0L,₹ 21.0L
7,Ganit Business Solutions,13,4 yrs,₹ 12.4L,₹ 8.5L,₹ 15.0L
8,Ericsson,43,3-4 yrs,₹ 11.9L,₹ 5.8L,₹ 24.0L
9,Deloitte,57,2-4 yrs,₹ 11.7L,₹ 6.9L,₹ 23.4L